<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fourlink_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fourlink_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FourLink"
        android:forceDarkAllowed="false"
        tools:targetApi="31">
        <activity
            android:name=".SurrenderDialogFragment"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".DeveloperPageActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="true"
            android:label="FourLink"
            android:theme="@style/Theme.FourLink">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
    </application>

</manifest>